body {
    background-color: #e0f7fa; /* azul bem clarinho */
}

.rectangle {
    border: 1px solid black;
    background-color: #c7daca5d; /* fundo branco */
}

#drawingCanvas {
    width: 100%;
    height: 50vh; /* Adjust height as needed */
}

.gradient-text {
    background: linear-gradient(to right, #AEC6CF, #FF6961, #caca17, #77DD77, #FFB7C5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}